version: "3.9"

services:
  user-service:
    build:
      context: .
      dockerfile: apps/user-service/Dockerfile
    container_name: user-service
    ports:
      - "4001:4001"
    env_file:
      - apps/user-service/.env

  order-service:
    build:
      context: .
      dockerfile: apps/order-service/Dockerfile
    container_name: order-service
    ports:
      - "4000:4000"
    env_file:
      - apps/order-service/.env
    depends_on:
      - user-service
